<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ЗДОРОВО ЁПТА</title>
  </head>
  <body>
    <h1>КИриЛЛ здравствуйте как жизнь?</h1>
    <form action="/greet" method="post">
      <label>ИМЯ:</label>
      <input type="text" name="name" />
      <button type="submit">Пойти нахуй</button>
      <h5>Только на английском имя пиши а то с кодировкой траблы какието</h5>
    </form>
  </body>
</html>
